/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  /* 子菜单横向展示 */
  #nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
  }
  /* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
  .menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -125px;
  }

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

/* 鼠标样式 */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: rgb(150, 255, 255);
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 90%;
  height: auto;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  top: 0;
}

/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
/* 设置风车颜色 */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}
/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite;
}


body::-webkit-scrollbar {
  width: 0;
}

.neko {
  width: 64px;
  height: 64px;
  background-image: url("https://bu.dusays.com/2022/07/20/62d812db74be9.png");
  position: absolute;
  right: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(50%);
  cursor: pointer;
  font-family: tzy;
  font-weight: 600;
  font-size: 16px;
  color: #6f42c1;
  display: none;
}

.neko::after {
  display: none;
  width: 100px;
  height: 100px;
  background-image: url("https://bu.dusays.com/2022/07/20/62d812d95e6f5.png");
  background-size: contain;
  z-index: 9999;
  position: absolute;
  right: 50%;
  text-align: center;
  line-height: 100px;
  top: -115%;

}

.neko.showMsg::after {
  content: attr(data-msg);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.neko:hover::after {
  content: attr(data-msg);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.neko.fontColor::after {
  color: #333;
}

/**
* @description: 滚动条样式  跟猫二选一
*/
@media screen and (max-width:992px) {
  ::-webkit-scrollbar {
      width: 8px !important;
      height: 8px !important
  }

  ::-webkit-scrollbar-track {
      border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb {
      background-color: rgb(255 255 255 / .3);
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
      border-radius: 2em
  }

  ::-webkit-scrollbar-corner {
      background-color: transparent
  }
}


.loading-img {
  background: url(/img/load.png) no-repeat center center;
  background-size: cover;
}

/*@font-face {
  font-family: 'iconfont';
  src: url('/webfonts/iconfont.eot');
  src: url('/wbefonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/webfonts/fa-brands-400.woff2') format('woff2'),
  url('/webfonts/fa-brands-400.ttf') format('truetype'),
  url('/webfonts/fa-regular-400.woff2') format('woff2'),
  url('/webfonts/fa-regular-400.ttf') format('truetype'),
  url('/webfonts/fa-solid-400.woff2') format('woff2'),
  url('/webfonts/fa-solid-400.ttf') format('truetype'),
  url('/webfonts/fa-v4compatibility.woff2') format('woff2'),
  url('/webfonts/fa-v4compatibility.ttf') format('truetype');
  }

  .iconfont {
    font-family: "iconfont" !important;
    /* font-family 可以自定义，但是必须和上面@font-face中的font-family保持一致 
    font-size: 3em;
    /* 可以定义图标大小 
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    .icon-rat:before {
      content: "\e60e";
      color: #85c3de;
      /* 可以使用color属性来定义图标颜色 
      /* 若已经在项目设置中勾选了彩色选项，则无需再定义图标颜色
    }
    .icon-ox:before {
      content: "\e60c";
      color: #ffaf6e;
    }
    .icon-tiger:before {
      content: "\e611";
      color: #f7c768;
    }
    .icon-rabbit:before {
      content: "\e60d";
      color: #ffbdd8;
    }
    .icon-dragon:before {
      content: "\e609";
      color: #ff8787;
    }
    .icon-snake:before {
      content: "\e610";
      color: #c3d686;
    }
    .icon-horse:before {
      content: "\e60a";
      color: #ffaf6e;
    }
    .icon-goat:before {
      content: "\e608";
      color: #f7c768;
    }
    .icon-monkey:before {
      content: "\e60b";
      color: #c3d686;
    }
    .icon-rooster:before {
      content: "\e60f";
      color: #ff8787;
    }
    .icon-dog:before {
      content: "\e607";
      color: #85c3de;
    }
    .icon-boar:before {
      content: "\e612";
      color: #ffbdd8;
    }*/

